@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url('/Fonts/NeueHaasGroteskText-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Neue Haas Grotesk", Arial, sans-serif;
    min-height: 100vh;
}

.project-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Neue Haas Grotesk", Arial, sans-serif;
}

.project-title {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: "Neue Haas Grotesk", Arial, sans-serif;
}

.project-description {
    font-size: 1.0em;
    font-weight: 300;
    line-height: 1.1;
    max-width: 80vw;
    font-family: "Neue Haas Grotesk", Arial, sans-serif;
    text-align: left;
    text-wrap: pretty;
}

p {
    font-family: "Neue Haas Grotesk", Arial, sans-serif;
    font-weight: 300;
    color: rgb(28, 22, 21);
    font-size: clamp(14px, 1.2vw, 18px);
    padding-top: 5px;
}

h2, h3, h4, h1 {
    font-family: "Neue Haas Grotesk", Arial, sans-serif;
    font-weight: 300;
    color: rgb(0, 1, 9);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 3em;
    padding-bottom: 1em;
}

.image-grid > div {
    min-height: 50px;
}

.image-grid img {
    width: 100%;
    object-fit: cover;
}
