@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Monsieur+La+Doulaise&display=swap');

@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url('/Fonts/NeueHaasGroteskText-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
box-sizing: border-box;
font-family: "Neue Haas Grotesk", sans-serif;
font-weight: 300;
-webkit-font-smoothing: subpixel-antialiased;
-moz-osx-font-smoothing: auto;
text-rendering: optimizeLegibility;
}

p {
    font-size: 1.2em;
    color: #da0000;

}

h1 {
display: block;
font-size: 2em;
margin-block-start: 0.67em;
margin-block-end: 0em;
margin-inline-start: 0px;
font-weight: bold;
}

body {
margin: 0;
background: linear-gradient(to bottom, rgb(64, 142, 250) 0%, white 5%, white 90%,rgb(240, 246, 255) 95%,rgb(250, 252, 255) 100% );
min-height: 100vh;
}

.render {
background-color: rgb(255, 255, 255);
border: rgb(252, 15, 50) 2px solid;
width: 50%;
margin-left: auto;
margin-right: auto;

}

::selection {
color: #eb80ff;
text-shadow: 0 0 5px #eb80ff;
transition: 3ms ease-in-out;
}



.title {
font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1.12;
  z-index: 2;
  color: rgb(255, 255, 255);
  text-shadow: 7px 3px 5px #000000, 0 0 15px rgba(255, 105, 180, 0.6), 0 0 30px rgba(255, 105, 180, 0.3);
}

.title-box {
    position: relative;
    z-index: 2;
    text-align: center;
}


.container {
display: grid;
grid-template-columns: minmax(150px, 75%) 1fr;
}

.menu-container {
background-color: rgb(220, 2, 2);
padding: 5px;
height: 100vh;
overflow-y: auto;
text-align: right;
position: relative;
display: flex;
flex-direction: column;
}

.menu-items {

    font-size: 1.4em;
    line-height: clamp(2.4vh, 4vw, 3vh);
    padding-top: 1vh;
    text-align: left;
}

.menu-items:hover a {
    color: #eb80ff;
    text-shadow: 0 0 5px #eb80ff;
}

.menu-heading {
    text-align: left;
    color: white;
    border-bottom: 1px solid grey;
    margin: auto 0 auto 0;
    width: 100%;
}

.menu-heading a {
    color: white;
 
}
.menu-items a {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    font-weight: 100;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}


.contact-box {
    text-align: left;
    padding: 3em 5px;
    font-size: 1em;
    font-family: sans-serif;
    margin-top: auto;
}

.contact-box summary {
    cursor: pointer;
    color: white;
    list-style: none;
}

.contact-box summary::-webkit-details-marker {
    display: none;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 0.5em;
}

.contact-links a {
    color: #eb80ff;
    text-shadow: 0 0 5px #eb80ff;
    text-decoration: none;
    font-weight: 100;
}


iframe {
width: 100%;
height: 100vh;
border: none;
display: block;
}

a {
color: white;
text-decoration: none;
font-weight: 100;
font-family: "arial", sans-serif;
opacity: 1;
}

a:hover { 
    background-color: rgba(132, 133, 136, 0.092);
    color: #fffbfb;


}

.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    background-color: rgb(255, 255, 255);
    place-items: center;
    
}

.grid >div {
    background-color: crimson;
    align-content: center;
}

img {

    max-width: 100% ;
    object-fit: contain;

}

.info {

    text-align: center;
    padding: 1px;
    margin: 0px;
    font-size: 1em;
    font-family: sans-serif;
    padding-bottom: 5em;
}

.info > h1 {
    margin: -0.2rem;

}

.info > h1 > a {
    color: rgb(252, 249, 254);
    text-decoration: none;
}

.title-background {
color: rgb(0, 60, 255);
background: radial-gradient(circle, rgba(255, 255, 255, 1), rgb(104, 167, 255) 76.47%);
border-radius: 50%;
padding: 80px;
display: grid;
align-items: center;
position: absolute;
left: 50%;
transform: translateX(-50%);
z-index: 1;
filter: blur(30px);
place-items: center;
}


/* Shrine CSS */

.text-paragraph {

    color: goldenrod;

}

.text-title {

    color: red;
}


cv-container {
    margin: 20px;
    padding: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}



/* mobile */
@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    .container {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    .menu-container {
        height: auto;
        text-align: left;
        border-right: none;
        border-bottom: 1px solid #000;
    }

    .render {
        width: 100%;
        padding-top: 0px;
    }

    iframe {
        height: 100vh;
    }

    .title {
font-family: "Monsieur La Doulaise", cursive;
font-weight: 400;
font-style: normal;
line-height: 1.12;
z-index: 2;
color: rgb(255, 255, 255);
text-shadow: rgb(0, 0, 0) 7px 3px 5px, rgba(255, 105, 180, 0.6) 0px 0px 15px, rgba(255, 105, 180, 0.3) 0px 0px 30px;
text-align: left;
font-size: 15px;
}

.menu-container {
background-color: rgb(220, 2, 2);
padding: 5px;
border-right: 1px solid #000;
height: 100vh;
overflow-y: auto;
text-align: right;
position: relative;
min-width: 0;
}
.title-background {
color: rgb(0, 60, 255);
background: radial-gradient(circle, rgba(255, 255, 255, 1), rgb(104, 167, 255) 76.47%);
border-radius: 50%;
padding: 30px;
display: grid;
align-items: center;
position: absolute;
left: 30%;
transform: translateX(-50%);
z-index: 1;
filter: blur(30px);
place-items: center;
}

.menu-heading {
text-align: left;
color: white;
border-bottom: 1px solid grey;
margin: auto 0 auto 0;
width: 100%;
font-size: 10px;
}

.menu-items {
    font-size: clamp(1rem, 3vw, 2em);
    overflow-wrap: break-word;
}

}